<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Learning Tool for Machine Learning</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Interactive Learning Tool for Machine Learning</h1>
        <p class="lead">
          Learn the basics of Machine Learning in an interactive way!
        </p>
      </div>

      <div class="jumbotron text-center">
        <h2>Machine Learning – The Easy Way</h2>
        <p class="lead">By Daniel David</p>
        <hr class="my-4" />
        <p>
          Ready to embark on your machine learning journey? This interactive
          tutorial will guide you through the fundamentals of machine learning
          models and help you understan
        </p>
      </div>
    </div>
  </body>
</html>
